RABBITMQ_DEFAULT_USER=change-me
RABBITMQ_DEFAULT_PASS=change-me
RABBITMQ_URL=amqp://change-me:change-me@rabbitmq:5672//

GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
GOOGLE_REDIRECT_URI=change-me
GOOGLE_FRONTEND_URI=change-me